---
layout: default
title: Início
---
<section class="w3-row">
    <section class="w3-container w3-padding w3-twothird">
        {% assign posts = site.posts | sort: 'date' %}
        {% for post in posts %}
            {% include post.html %}
        {% endfor %}
    </section>

    <section class="w3-container w3-padding w3-third">
        <article class="w3-card w3-hover-shadow">
            <header class="w3-container w3-padding w3-theme-dark w3-center">
                <img src="images/linkedin.png" alt="linkedin">
            </header>
            <section class="w3-container w3-padding w3-center w3-theme-l1 w3-small">
                <img src="images/luciano.jpg" class="avatar" width="50px" alt="avatar">
                <p>
                    <a href="https://www.linkedin.com/in/luciano-rodrigues" class="w3-medium" style="font-weight: bold;">Luciano Vieira Rodrigues</a><br>
                    Arquiteto de Sistemas Sênior
                </p>
                <p>
                    <a href="http://www.digicon.com.br">Digicon S/A</a>
                </p>
                <a href="https://www.linkedin.com/in/luciano-rodrigues" style="font-weight: bold;"
                    class="w3-button w3-round-xxlarge w3-theme-dark w3-border">Visualizar Perfil</a>
            </section>
        </article>
    </section>
</section>
